<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Messenger.Properties.Settings.BD_Messaging_SystemConnectionString"
            connectionString="Data Source=213.155.192.79,3002;Initial Catalog=BD_Messaging_System;Persist Security Info=True;User ID=u21nikip;Password=3and"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>